@model  HomeViewModel

@await Html.PartialAsync("Carousel")

<head>
    <link href="~/css/homeIndexStyle.css" rel="stylesheet" />
</head>
<body>
    <h2>Preferred books</h2>

    <div class="row bg-danger">
        @foreach (var book in Model.PreferredBooks)
        {
            @Html.Partial("BooksSummary", book)
        }
    </div>
</body>
