@model  HomeViewModel

@await Html.PartialAsync("Carousel")

<h2>Preferred books of the week</h2>
<h4>Customers' preferences - Just for you!</h4>

<div class="row">
    @foreach (var book in Model.PreferredBooks)
    {
        @Html.Partial("BooksSummary",book)
    }
</div>