@model OnlineBookStore.ViewModels.BookListViewModel;
@{
    ViewData["Title"] = "List";
}

<div><h2>All Books</h2></div>

<h2>@Model.CurrentCategory</h2>
@{ 
    foreach (Book book in Model.BookList)
    {
      @Html.Partial("BooksSummary",book)
    }
}